.git
.github
.fleet
.fleet-deploy.log
vendor
node_modules
public/build
public/hot
.env
.env.*
!.env.example
*.log
database/database.sqlite
storage/framework/cache/data/*
storage/framework/sessions/*
storage/framework/views/*
storage/logs/*
bootstrap/cache/*.php
.phpunit.cache
